<div class="jumbotron text-center">
    <!-- NOTE: remove 'animation-class': 'toast-top-center' if you want it on the left top corner --> 
    <toaster-container toaster-options="{'close-button':true, 'time-out':{ 'toast-warning': 2000, 'toast-error': 5000 } }"></toaster-container>
	<h1 style="color:Black;font-family:serif;">Palindrome Finder</h1>
	<p style="color:Black;font-family:serif;">{{ message }}</p>
	<h5 style="color:White;position:absolute; bottom:0px;font-family:courier;">{{ msg }}</h5>
    <form class="form-inline">
  <div class="form-group">
    <label for="input1">Input 1:</label>
    <input type="text" class="form-control" id="input1" ng-model="input1">
  </div>
  <div class="form-group">
    <label for="input2">Input 2:</label>
    <input type="text" class="form-control" id="input2" ng-model="input2">
  </div>
  <button type="submit" class="btn btn-default" style="margin-top:54px" ng-click="search()">Search</button>
</form>
<br>
<textarea rows="1" cols="45">
    Your Highest Palindrome Number is: {{ result }}
</textarea>
</div>

<div class="container">
</div><br>